<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.term_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Term_Project">
        <activity android:name=".Groups.GroupJoinPageActivity" />
        <activity android:name=".Groups.GroupCreateActivity" />
        <activity android:name=".Friends.FriendsActivity" />
        <activity android:name=".Groups.GroupShowActivity" />
        <activity android:name=".Profile.ProfileUpdateActivity" />
        <activity android:name=".Posts.NewsActivity" />
        <activity android:name=".Posts.PostActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>